node-modules/
actions/notify-workflow-completed/node_modules/
actions/notify-workflow-completed/dist/

# Following directories have their own formatting configuration:
actions/npm-version-bump/
actions/run-workflow/
actions/upstream-builds-query/
